* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.game-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 40px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.2rem;
}

.instructions {
    margin-bottom: 15px;
    font-size: 2.2rem;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

#submit-guess {
    background-color: #28a745;
    color: #fff;
}

#restart-game {
    background-color: #dc3545;
    color: #fff;
}

button:hover {
    opacity: 0.9;
}

.feedback {
    margin-top: 20px;
    font-size: 1.2rem;
}

.hidden {
    display: none;
}